body {
  background-color: #353535;
  color: white;
}

.mapboxgl-popup-content {
  background-color: #353535aa;
  font-weight: 100;
  color: #ccc;
}
.mapboxgl-popup-content a {
  color: #eee;
}
.mapboxgl-popup-close-button {
  color: #eee;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #353535aa;
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}
